.linha {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0;
    height: auto;
}

.barra{

    width: 1541px;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;

}


.logoIfsp{
    width: auto;

}

.minorias{
    width: auto;

}

.minorias img{
    max-width: 500px;  
    max-height: 90px;
    height: auto; 
    width: auto;
}

.tituloProjeto{
    width: 960px;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 120px;
    font-family: "Inter", sans-serif;
    color: #C04922;
    margin: 0px;

}

h2{
    text-align: center;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #141F35;
    margin: 1px 1px 80px 1px;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

h3{
    text-align: center;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #C04922;
    padding: 120px 0px 0px 0px;
}


.menu{
    width: 960px;
    height: auto;
    margin: auto;
    display: flex; 
    justify-content: space-between;
    border-bottom: 2px solid #d4d4d3;
    padding-bottom: 50px; 
}

.container{
    width: 23%;
    background-color: #C04922;
    padding: 10px; 
    margin-right: 0px;
    transition: all 0.3s ease-in-out; 
    border-radius: 8px; 
    position: relative;
    box-sizing: border-box;

}

.container a {
    display: block; 
}

.texto-overlay {
    position: absolute;
    z-index: 1; 
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; 
}

.container:hover .menuIcon {
    opacity: 0;
}

.container:hover .texto-overlay {
    opacity: 1;
}

.menuIcon{
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}

.texto-overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
}

.texto-overlay p {
    color: white; 
    font-weight: bold;
    padding: 10px;   
    font-size: 1.1vw;
}

p {
    text-align: center;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #000000;
    padding: 5px 0px 0px 0px;
}

.menuLista{
    width: 100%;
    height: 44px;
    background-color: #C04922;
    display: flex;
    align-items: center;
    margin-left: auto; 
    padding: 0px 40px 0px 0px
}

.voltarPagina:link, .voltarPagina:visited {
    margin-left: auto;
    font-size: 16px;
    color: #ffffff;  
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.sidebar {
    width: 300px; 
    padding: 20px;
    background-color: white; 
    border-right: 5px solid #C04922; 


}

.titulo-filtro {
    font-family: "Inter", sans-serif; 
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.total-encontrado {
    font-family: "Inter", sans-serif; 
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
}

.container-principal {
    display: flex; 
    align-items: flex-start;
    gap: 20px; 
    margin: 20px auto; 
    max-width: 1200px; 
}

.container-cards{
    display: flex;
    flex-direction: column;
    gap: 2rem; 

}
.container-principal {
    display: flex; 
    align-items: flex-start;
    gap: 20px; 
    margin: 20px auto; 
    max-width: 1200px; 
}


.sidebar {
    width: 300px; 
    padding: 20px;
    background-color: white; 
    border-right: 5px solid #C04922; 
    flex-shrink: 0; /* Impede que a sidebar diminua */
}


#cientistas-container {
    display: flex;
    flex-direction: column; 
    gap: 30px; 
    flex-grow: 1; 
}


.persona {
    display: flex; 
    border: 2px solid #D9D9D9; 
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container {
    flex-shrink: 0; 
    margin-right: 20px; 
}

.card-link {
    flex-grow: 1; 
    text-decoration: none; 
    color: inherit; 
}


.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between; 
}

.bandeira {
    border: 0.5px solid #000000; 
    border-radius: 8px; 

}

.nome {
    text-align: left;
    font-family: "Inter", sans-serif; 
    font-size: 30px;
    font-family: "Inter", sans-serif;
    color: #C04922;
    margin: 0 auto;
    padding: 0px;
}

.descricao{
    text-align: left;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: ExtraLight 200 Italic;
    padding: 0px;
}

.origem {
    text-align: right;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    color: #C04922;
    margin: 0px;
}

.location{
  display: flex; 
  align-items: center; 
  padding: 5px;
  justify-content: flex-end;
  gap: 10px;
}

.portrait{
    width: 30%;
    padding-top: 40px;
}

.portrait img {
    width: 100%;
    border: 0.5px solid #000000;
    border-radius: 12px; 

}

.conteudoBibiografico{
    padding-top: 40px;
    flex-grow: 1;
}

.nomeCientista h1{
    text-align: center;
    font-size: 64px;
    font-family: "Inter", sans-serif;
    color: #141F35;
    margin: 0px;
}

.informativo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20 0px;
}

.informativo p,li{
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #141F35;   
    margin: 5px; 
    font-style: italic;
}

.colorido{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #C04922;
    font-weight: 700;
    font-style: italic;
}

.fraseMarcante{
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color: #000000;
    font-style: italic;    
}

.biografia p{
    margin: 10px 60px;
    display: flex;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color: #000000;
    font-style: italic;   
    text-align: left;   
    font-weight: 300;
 
}

